In [103]:
import pandas as pd

In [104]:
df = pd.read_csv('../lake/bronze/tempo.csv', encoding="utf-8")

# 1° Questão

In [105]:
df_cotistas = df_fact_reprovacoes.loc[(df_fact_reprovacoes['eh_cotista'] == 1)]

In [106]:
df_cotistas

,id_tempo,id_disciplina,id_departamento,id_curso,eh_cotista,carga_horaria,nota,faltas
1,1,2,1,1,1,40.0,7.0,4
4,1,4,1,2,1,40.0,10.0,0
5,2,4,1,2,1,40.0,2.0,6
9,1,7,2,4,1,80.0,8.4,4
11,1,8,2,4,1,40.0,6.0,0
13,2,9,1,5,1,80.0,5.9,10
14,2,10,1,5,1,40.0,5.0,0
16,1,1,2,6,1,80.0,7.0,6
22,1,15,3,8,1,80.0,2.0,7
26,2,17,2,9,1,80.0,10.0,2

In [107]:
df_reprovados_cotistas = df_fact_reprovacoes.loc[(df_fact_reprovacoes['eh_cotista'] == 1) & (df_fact_reprovacoes['nota'] < 7)]

In [108]:
df_reprovados_cotistas

,id_tempo,id_disciplina,id_departamento,id_curso,eh_cotista,carga_horaria,nota,faltas
5,2,4,1,2,1,40.0,2.0,6
11,1,8,2,4,1,40.0,6.0,0
13,2,9,1,5,1,80.0,5.9,10
14,2,10,1,5,1,40.0,5.0,0
22,1,15,3,8,1,80.0,2.0,7

# 2° Questão

In [112]:
df_reprovacoes = df_fact_reprovacoes.loc[(df_fact_reprovacoes['nota'] < 7)]

In [113]:
df_reprovacoes.groupby(["id_curso", "id_departamento"]).count().sort_values('nota', ascending=False)['nota'].head()

id_curso  id_departamento
5         1                  3
2         1                  2
8         3                  2
9         2                  2
1         1                  1
Name: nota, dtype: int64

# 3° Questão

In [111]:
df_reprovacoes.groupby(["id_disciplina"]).count().sort_values('nota', ascending=False)['nota'].head()

id_disciplina
4    2
9    2
2    1
5    1
8    1
Name: nota, dtype: int64